{% extends 'site/layout.html.twig' %}

{% block main %}
    <section class="section-login">
        <div>
            {{ form_start(form) }}
                <h3 class="mb-4">Réinitialiser mot de passe</h3>
            <div class="callout callout-danger d-flex text-danger align-items-center">
                <i class="fas fa-exclamation-triangle fa-2x mr-2"></i>
                <strong>
                    Attention vous allez réinitialiser le mot de passe du compte {{ form.vars.data.email }}. S'il ne s'agit pas de votre compte ceuillez quitter cette page.
                </strong>
            </div>
                <input type="hidden" name="_recaptcha_token" class="recaptcha-token">
                {{ form(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'security/recaptcha.html.twig' %}
{% endblock %}