{% extends 'site/layout.html.twig' %}

{% block main %}
    <div class="container-fluid" style="padding-top: 60px">
        <div class="meal-carousel">
            <div class="meal-carousel-items">
                {% for formattedDate,date in dates %}
                    <a href="{{ path('booking', {'selectedDate': formattedDate}) }}">
                        <div class="meal-carousel-item text-center {% if selectedDate == formattedDate %} active {% endif %}">
                            <h6>{{ date|localdate('LLLL')|capitalize }}</h6>
                            <h3>{{ date|date('d') }}</h3>
                            <h6>{{ date|date('Y') }}</h6>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <button class="meal-carousel-prev btn btn-link">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="meal-carousel-next btn btn-link">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <section id="meals_booking">
            {% if meals is empty %}
                <h5 class="text-muted font-italic text-center">Il n'y a aucun menu disponible à la réservation pour cette date</h5>
            {% else %}
                <nav>
                    <div class="nav btn-group" id="meal_nav_tab" role="tablist" >
                        {% for meal in meals %}
                            <a class="btn btn-sm btn-outline-primary {% if loop.first %} active {% endif %}"
                               id="meal_{{ meal.id }}_button" data-toggle="tab" href="#meal_{{ meal.id }}" role="tab" aria-controls="meal_{{ meal.id }}" aria-selected="true"
                            >
                                {{ meal.period.label }}
                            </a>
                        {% endfor %}
                    </div>
                </nav>
                <div class="tab-content" id="meal_nav_content">
                    {% for meal in meals %}
                        <div class="tab-pane fade show {% if loop.first %} active {% endif %}" id="meal_{{ meal.id }}" role="tabpanel" aria-labelledby="meal_{{ meal.id }}_button">
                            {% if helper.get('meal').isOverBookingDeadline(meal) %}
                                <div>
                                    <div class="callout callout-info d-inline-flex align-items-center text-info">
                                        <i class="fas fa-info-circle fa-2x mr-2"></i>
                                        <strong>
                                            Réservation possible jusqu'au {{ meal.bookDateLimit|localdate('full') }} {{ meal.bookDateLimit|localtime('short') }}
                                        </strong>
                                    </div>
                                </div>
                                {% if orders[meal.id] is defined and orders[meal.id].getDishes is not empty and orders[meal.id].validationDate is empty %}
                                    <div>
                                        <div class="callout callout-warning d-inline-flex align-items-center text-warning">
                                            <i class="fas fa-exclamation-triangle fa-2x mr-2"></i>
                                            <strong>
                                                Vous n'avez pas encore finalisé votre réservation.
                                            </strong>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="mt-4">
                                    <a href="{{ path('booking_meal', {'id': meal.id}) }}" class="btn btn-primary">Réserver votre repas</a>
                                </div>
                            {% else %}
                                <div class="callout callout-danger d-inline-flex align-items-center text-danger">
                                    <i class="fas fa-exclamation-triangle fa-2x mr-2"></i>
                                    <strong>
                                        La date limite de réservation est dépassée
                                    </strong>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /**
         * calculates the maximum position to which the carousel can translate to the left
         * @returns {number}
         */
        function getTranslationMax()
        {
            let carousel_items_width = $('.meal-carousel-items').width();
            let translation_max = (carousel_items_width - ($(document).width()-100)) * -1;
            if(translation_max > 0)
            {
                translation_max = 0;
            }
            return translation_max;
        }

        /**
         * Show/hide the carousel's buttons according to the size of the carousel compared to the size of the window
         */
        function toggleCarouselButton()
        {
            if(getTranslationMax() < 0)
            {
                $('.meal-carousel').removeClass('justify-content-center');
                $('.meal-carousel-prev').show();
                $('.meal-carousel-next').show();
            }else{
                $('.meal-carousel').addClass('justify-content-center');
                $('.meal-carousel-prev').hide();
                $('.meal-carousel-next').hide();
            }
        }

        $(document).ready(function () {
            /**
             * Init carousel values
             */
            let translation = 0;
            let $item_active = $('.meal-carousel-item.active');
            if($item_active)
            {
                translation = $('.meal-carousel').outerWidth()/2 - ($item_active.position().left + $item_active.outerWidth()/2);
                if(translation > 0){
                    translation = 0;
                }else if(translation < getTranslationMax()){
                    translation = getTranslationMax();
                }
                $('.meal-carousel-items').css('transform', 'translateX(' + translation + 'px)');
            }
            toggleCarouselButton();


            /**
             * Show/hide the carousel's buttons when resizing th window
             */
            $(window).resize(function () {
                toggleCarouselButton();
                $('.meal-carousel-items').css('transform', 'translateX(0px)');
            });

            /**
             * Translate the carousel to the left
             */
            $('.meal-carousel-prev').click(function () {
                translation+= $(window).width()/2;
                if(translation > 0) {
                    translation = 0;
                }
                $('.meal-carousel-items').css('transform', 'translateX(' + translation + 'px)');
            });

            /**
             * Translate the carousel to the right
             */
            $('.meal-carousel-next').click(function () {
                let translation_max = getTranslationMax();
                translation-= $(window).width()/2;
                if(translation < translation_max) {
                    translation = translation_max;
                }
                $('.meal-carousel-items').css('transform', 'translateX(' + translation + 'px)');
            });

        });
    </script>
{% endblock %}