{% extends 'site/layout.html.twig' %}

{% block main %}
    <section class="section-booking-meal">
        <div class="container-top">
            <div class="row">
                <div class="col-sm-8">
                    <h4>
                        <a href="{{ path('booking', {'selectedDate': meal.date|date('Y-m-d')}) }}">
                            <i class="fas fa-arrow-circle-left text-primary mr-2"></i>
                        </a>
                        Menu du {{ meal.date|localdate('full')|capitalize }} {{ meal.period.label }}
                    </h4>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="{{ path('order_view', {'id': order.id}) }}" class="meal-booking-finish btn btn-primary disabled">Terminer la sélection</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="callout callout-info text-info d-flex align-items-center">
                <i class="fas fa-info-circle fa-2x mr-2"></i>
                <strong>Composez votre menu en sélectionnant les plats souhaités.</strong>
            </div>
            {% for dishCategory in dishesCategories %}
                {% if dishesByCategory[dishCategory.id] is not empty %}
                    <h4>
                        {{ dishCategory.label }}
                        <span style="font-size: 1.2rem;">
                        {% if dishCategory.dishLimit > 0 %}
                            ({{ dishCategory.dishLimit }} maximum)
                        {% endif %}
                    </span>
                    </h4>
                    {% for dish in dishesByCategory[dishCategory.id] %}
                        <div class="dish">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input select-dish" id="select_dish_{{ dish.id }}"
                                       data-action-add-dish="{{ path('booking_dish_ajax_add', {'id': dish.id}) }}"
                                       data-action-remove-dish="{{ path('booking_dish_ajax_remove', {'id': dish.id}) }}"
                                        {% if order.getDishes().contains(dish) %} checked="checked" {% endif %}
                                >
                                <label class="custom-control-label" for="select_dish_{{ dish.id }}">{{ dish.label }}</label>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <a href="{{ path('order_view', {'id': order.id}) }}" class="meal-booking-finish btn btn-block btn-primary disabled mt-4">Terminer la sélection</a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /**
         *
         */
        function setContainerPaddingTop()
        {
            $('.section-booking-meal .container')
                .css('padding-top', $('.section-booking-meal .container-top').outerHeight()+15);
        }

        /**
         *
         * @param $dish
         */
        function setDishBorderActive($dish){
            $dish.closest('.dish').addClass('border-primary');
        }

        /**
         *
         */
        function toggleMealBookingFinish()
        {
            if($('.select-dish:checked').length > 0)
            {
                $('.meal-booking-finish').removeClass('disabled');
            }
            else
            {
                $('.meal-booking-finish').addClass('disabled');
            }
        }

        /**
         *
         * @param $dish
         */
        function setDishBorderInactive($dish){
            $dish.closest('.dish').removeClass('border-primary');
        }

        $(document).ready(function () {

            setContainerPaddingTop();
            setDishBorderActive($('.select-dish:checked'));
            toggleMealBookingFinish();

            $(window).resize(function () {
                setContainerPaddingTop();
            });

            $('.select-dish').change(function () {
                let $checkbox = $(this);
                if($checkbox.prop('checked')){
                    let url = $checkbox.data('action-add-dish');
                    $.get(
                        url
                    ).done(function(response){
                        if(handleAjaxResponse(response)){
                            setDishBorderActive($checkbox);
                        }else{
                            $checkbox.prop('checked', false);
                        }
                    }).fail(function(){
                        $checkbox.prop('checked', false);
                    }).always(function () {
                        toggleMealBookingFinish();
                    });
                }else{
                    let url = $checkbox.data('action-remove-dish');
                    $.get(url).done(function(response){
                        if(handleAjaxResponse(response)){
                            setDishBorderInactive($checkbox);
                        }else{
                            $checkbox.prop('checked', true);
                        }
                    }).fail(function(){
                        $checkbox.prop('checked', true);
                    }).always(function () {
                        toggleMealBookingFinish();
                    });
                }
            });

        });
    </script>
{% endblock %}