{{ form_start(form) }}
    {{ form_row(form.category) }}
    {{ form_row(form.label) }}
    <button type="submit" class="btn btn-primary" id="create_button">Ajouter</button>
{{ form_end(form) }}
<script>
    $('form[name="dish"]').submit(function(e){
        e.preventDefault();
        let url = '{{ path('admin_catalog_meal_add_dish', {'id': form.vars.data.meal.id}) }}';
        let data = $(this).serialize();
        $.post(
            url,
            data
        ).done(function(data){
            $('#modal_app').modal('hide');
            document.location.reload();
        });
    });
</script>