{% extends 'admin/meal/layout.html.twig' %}

{% block main %}
    <div class="toolbar sticky-top">
        <div class="d-flex justify-content-end">
            <button type="button" id="create_meal" class="btn btn-primary">Ajouter un menu</button>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="card table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-auto">#</th>
                    <th>Date</th>
                    <th>Repas</th>
                    <th>Etablissements</th>
                </tr>
                </thead>
                <tbody>
                {% for meal in meals %}
                    <tr>
                        <td>{{ meal.id }}.</td>
                        <td>
                            <a href="{{ path('admin_catalog_meal', {'id': meal.id}) }}">
                                {{ meal.date|localdate('long') }}
                            </a>
                        </td>
                        <td>{{ meal.period.label }}</td>
                        <td>
                            {% set establishments = '' %}
                            {% for establishment in meal.establishments %}
                                {% set establishments = establishments ~ establishment.label ~ ', ' %}
                            {% endfor %}
                            {{ establishments|trim(', ', 'right') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(meals) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#create_meal').click(function(){
                var url = '{{ path('admin_catalog_meal_create') }}';
                $.get(
                    url
                ).done(function(data){
                    $('#modal_app_title').html('Nouveau menu');
                    $('#modal_app_body').html(data);
                    $('#modal_app').modal('show');
                });
            });
        });
    </script>
{% endblock %}