{% extends 'admin/catalog/period/layout.html.twig' %}

{% block main %}
    {{ form_start(form) }}
    <div class="toolbar sticky-top">
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
        </div>
    </div>

    <div class="container-fluid mt-2">
        <div class="card">
            <div class="card-body">
                {{ form_row(form.label) }}
                {{ form_row(form.startTime) }}
                <div class="form-group">
                    {{ form_label(form.bookTimeLimit) }}
                    <i class="fas fa-question-circle" data-toggle="tooltip" title="Correspond au nombre d'heures qui seront retranchées à l'heure de début du service afin de déterminer l'heure limite de réservation (ex: si l'heure de début du service est 19:00 et que vous souhaitez autoriser les réservations jusqu'à 17:00 vous devez renseigner 2)" ></i>
                    {{ form_widget(form.bookTimeLimit) }}
                </div>
                {{ form_row(form.position) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.fa-question-circle').tooltip();
        });
    </script>
{% endblock %}